@mixin max-container-width {
    max-width: $max-container-width;
    margin: 0 auto;
}

@mixin margin-x ($size) {
    margin-right: $size;
    margin-left: $size;
}

@mixin padding-x ($size) {
    padding-right: $size;
    padding-left: $size;
}

@mixin navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 0;
    list-style: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    text-decoration: none;
}

@mixin flex-center {
    display: flex; 
    align-items: center; 
    justify-content: center;
}

@mixin background-cover ($url) {
    background: url($url) no-repeat center;
    background-size: cover;
}

@mixin absolute-positioning ($top, $right) {
    position: absolute;
    top: $top;
    right: $right;
}

@mixin z-index-5 {
    z-index: 555;
}

@mixin z-index-4 {
    z-index: 444;
}

@mixin z-index-3 {
    z-index: 333;
}

@mixin z-index-2 {
    z-index: 222;
}

@mixin z-index-1 {
    z-index: 111;
}

@mixin img-responsive {
    max-width: 100%;
    height: auto;
}